@tailwind base;
@tailwind components;
@tailwind utilities;




svg.ml-2.h-4.w-4 {
  display: none;
}
.my-gb1 {
  background: linear-gradient(to right, #87ffcd2e, #00ff43d9);
}
.my-gb2 {
  background: linear-gradient(to right, #87ffcd, #00ff43bf);
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5); */
}
ul {
  list-style: none;
  padding: 0;
}

li {
  position: relative;
  padding-left: 30px; /* Space for the icon */
  margin-bottom: 10px;
  line-height: 1.5;
}

li::before {
  content: "\2713"; /* Unicode bullet character */
  position: absolute;
  left: 0;
  color: #007BFF; /* Icon color */
}